{# templates/blog/layout.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Card game landing page</h1>
    <ul>
        <li><a href="{{ asset("card/deck") }}">See (or create if missing) normal deck</a></li>
        <li><a href="{{ asset("card/deck/shuffle") }}">Create or reset and shuffle normal deck</a></li>
        <li><a href="{{ asset("card/deck/draw") }}">Draw a card</a></li>
        <br>
        <li><a href="{{ asset("card/deck2") }}">Create deck with jokers</a></li>
        <br>
        <li><a href="{{ asset("card/api/deck") }}">Get deck as JSON</a></li>
    </ul>
{% endblock %}