{# templates/card/card.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Spela 21</h1>
    <div class="game-container">
    <div class="player-cards-container">
    <h2>Spelare</h2>
        Poäng: {{ user_points}}
        <div class="card-container">
        {% for card in user_cards %}
            <div class="card" ><span style="color:{{card.getColor()}}">{{card.getSymbol() }}</span><br>{{ card.getRankStringIncludingJoker()}} </div>
        {% endfor %}
        </div>
        
    <h2>Banken</h2>
    Poäng: {{ bank_points}}
        <div class="card-container">
        {% for card in bank_cards %}
            <div class="card" ><span style="color:{{card.getColor()}}">{{card.getSymbol() }}</span><br>{{ card.getRankStringIncludingJoker()}} </div>
        {% endfor %}
        </div>
        

    </div>
    <div class="info-container">
    {% if winner == "bank"%}
    Du förlorade!
    {% elseif winner == "user" %}
    Du vann!
    {% endif %}
    </div>
    <div class="button-container">
    <form method="post">
                {% if winner == ""%}
                {% if turn == "user"%}
                <button name="action" value="user-draw" type="submit">Dra ett kort</button>
                <button name="action" value="user-stop" type="submit">Stanna</button>
                {% else %}
                <button name="action" value="bank-draw" type="submit">Banken drar ett kort</button>
                {% endif %}
                {% endif %}
                <button name="action" value="restart" type="submit">Börja om</button>

    </form>
    </div>
    </div>
{% endblock %}