{# templates/card/card.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Me-sida{% endblock %}
{% block content %}
    <h1>Spela 21</h1>
    <h2>Dina kort</h2>
        <div class="card-container">
        {% for card in user_cards %}
            <div class="card" ><span style="color:{{card.getColor()}}">{{card.getSymbol() }}</span><br>{{ card.getRankStringIncludingJoker()}} </div>
        {% endfor %}
        </div>
        Poäng: {{ user_points}}
    <h2>Bankens kort</h2>
        <div class="card-container">
        {% for card in bank_cards %}
            <div class="card" ><span style="color:{{card.getColor()}}">{{card.getSymbol() }}</span><br>{{ card.getRankStringIncludingJoker()}} </div>
        {% endfor %}
        </div>
        Poäng: {{ bank_points}}
    <h2>Info</h2>
    {% if winner == "bank"%}
    Du förlorade!
    {% elseif winner == "user" %}
    Du vann!
    {% endif %}
    <form method="post">
            <legend>Alternativ</legend>
                {% if winner == ""%}
                {% if turn == "user"%}
                <button name="action" value="user-draw" type="submit">Dra ett kort</button>
                <button name="action" value="user-stop" type="submit">Stanna</button>
                {% else %}
                <button name="action" value="bank-draw" type="submit">Banken drar ett kort</button>
                {% endif %}
                {% endif %}
                <button name="action" value="restart" type="submit">Börja om</button>

    </form>
{% endblock %}