{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset("icon/favicon.ico") }}" type="image/x-icon">
        <title>{% block title %}My Application{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset("css/base.css") }}">
        {% endblock %}
    </head>
    <body>
        <div id="page-div">
            <div id="header">
            <a id="header-title">Kursen MVC - Andreas Thiberg</a>
            </div>
            <div id="navbar">
                    <ul>
                        <li><a href="{{ asset("") }}">Hem</a></li>
                        <li><a href="{{ asset("about") }}">Om</a></li>
                        <li><a href="{{ asset("report") }}">Redovisning</a></li>
                    </ul>
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            <div id="footer">
                Copyright Andreas Thiberg 2022.
            </div>
        </div>
    </body>
</html>