{# templates/user/user-page.html.twig #}
{% extends 'baseProject.html.twig' %}

{% block title %}Användare{% endblock %}
{% block content %}
    <div class="user-content">
    <a href="{{ path("texas-home") }}">&#x3c;- Tillbaka</a>
    <h2>Användare {{user.akronym}}</h2>
    Namn: {{user.name}}<br>
    Email: {{ user.email }}<br>
    Marker: {{ user.chips }}<br>
    Användartyp: {{ user.type }}<br><br>
    Profilbild:<br> <img class="profile-picture" src="{{ user.picture }}"><br><br>
    {% if logged_in_user.id == user.id %}
    <a href="{{ path("user-update", {userId:user.id}) }}">Uppdatera information</a>
    {% endif %}
    </div>
    
{% endblock %}